<html>
<head>
	<title> Türkiye'nin yeni sosyal medya ortamı | Ana Sayfa</title>
</head>
<body>
<h1>Tritir</h1>
<p>  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
</body>
</html>


