<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hakkımızda",   hakkimizda_path %></li>
      <li><%= link_to "İletişim", iletisim_path %></li>
    </ul>
  </nav>
</footer>